/* Universal Selector */
* {
    margin:0;
    padding:0;  
  }
  
  /* Element Selectors */
  body {
    position: relative;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    background-color: #ecd6c9;
    color: #314237;
  }
  
  h1,
  h2 {
    margin: 15px;
    padding-left: 15px;
    padding-top: 10px;
  }

  
  main {
    padding: 60px 0;
  }
  
  li {
    display: inline;
    padding: 0px 20px;
    text-decoration: none;
  }
  
  a {
    text-decoration: none;
    color: #dec0f7;
  }

  p {
    width:25em;
    }
  
    img {
      display: block;
      margin: 5px auto;
      border-radius: 15px;
    }

  header,
  footer {
    height: 60px;
    width: 100%;
    line-height: 60px;
    background-color: #26613d;
  }
  
  header {
    position: fixed;
    border-bottom: 10px solid #dfa07c;
  }

  footer {
    position: absolute;
    margin-top: 0;
    bottom: 0;
    border-bottom: 10px solid #dfa07c;
    color: #dfa07c;    
  }


  .banner {
    height: 300px;
    width: 100%;
    margin-bottom: 15px;
    padding-top: 5px;

  }

  .links{
    text-align: end;
  }
  .text-center{
    text-align: center;
  }
  .row {
    display: block;
    flex-wrap: wrap;
    flex-direction: column;
      padding: 10px;
    font-size: 15px;
    border-style: dotted;
    border-color: #26613d;
    border-radius: 15px;
    padding: 10px;
    }

    .resize {
      width: 350px;
      height: auto;
      flex-wrap: nowrap;
      flex-direction: column;
      border-style: dotted;
      border-color: #dec0f7;

    }

    @media screen and (max-width: 992px) {
     .resize{
        width: 50%;
      }
    .row{
        width: 50%;
      }
    }

    @media screen and (max-width: 768px) {
    .resize{
      width: 100%;
      flex-direction: column;
    }
    .row{
      width: 100%;
      flex-direction: column;
    }

    }