/* Universal Selector */
* {
    margin:0;
    padding:0;  
  }
  
  /* Element Selectors */
  body {
    position: relative;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    background-color: #ecd6c9;
    color: #314237;
  }
  
  h1,
  h2 {
    margin: 15px;
  }

  h2 {
    justify-content: space-around;
  }
  
  main {
    padding: 60px 0;
  }
  
  li {
    display: inline;
    padding: 0px 20px;
    text-decoration: none;
  }
  
  a {
    text-decoration: none;
    color: #dec0f7;
  }

  p {
    width:25em;
    }
  
    img {
      display: block;
      margin: 5px auto;
    }

  header,
  footer {
    height: 60px;
    width: 100%;
    line-height: 60px;
    background-color: #26613d;
  }
  
  header {
    position: fixed;
    border-bottom: 10px solid #dfa07c;
  }

  footer {
    position: absolute;
    margin-top: 0;
    bottom: 0;
    border-bottom: 10px solid #dfa07c;
    color: #FDF8F5;    
  }

  .links{
    text-align: end;
  }
  .text-center{
    text-align: center;
  }
  .row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
      padding: 10px;
    font-size: 15px;
    }

    .resize {
      width: 200px;
      height: auto;
    }